    :root {
        --r-main-font-size: 8.5em;
    }
    .justify{
        text-align: justify !important;
    }
    .columns {
        display: grid;
        grid-auto-flow: column;
        text-align: left;
        grid-gap: 1em;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .column {
        flex: 50%;
    } 
    .table-vertical tr td {
        border-right: 1px solid;
        border-left: 1px solid;
        border-bottom: 0px none;
    }
    .table-vertical table {
        border-bottom: 1px solid;
    }
