    :root {
        --r-main-font-size: 1.6em;
    }
    .columns{
        display: grid;
        grid-auto-flow: column;
        text-align: left;
        grid-gap: 1em;
    }
    .table-vertical tr td {
        border-right: 1px solid;
        border-left: 1px solid;
        border-bottom: 0px none;
    }
    .table-vertical table {
        border-bottom: 1px solid;
    }
